/* ---------- MENU ------------ */
.menu {
    transition: .3s .1s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .05);
    opacity: 0;
    z-index: -2;
}

.menu .mnu-content {
    transition: .4s all cubic-bezier(1, -0.1, 0, 1.24);
    position: fixed;
    bottom: -500px;
    opacity: 0;
    width: calc(100% - 2rem);
    max-width: 360px;
    z-index: -2;
    background: rgb(255 255 255 / 96%);
    background: var(--white);
    border-radius: var(--radius-1);
    box-shadow: var(--elevation-2);
    margin: 1rem;
}

.menu .mnu-content::after {
    transition: .2s 0s;
    content: "";
    width: 30px;
    height: 30px;
    background: var(--white-4);
    position: absolute;
    right: 1rem;
    z-index: -1;
    margin-top: -50px;
    transform: rotate(45deg) skew(20deg, 20deg);
    box-shadow: var(--elevation-2);
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: flex;
    align-items: center;
    padding: 0.6rem 0.5rem;
    cursor: pointer;
    margin: 0;
    color: #147EFB;
    color: var(--black);
}

.menu li i {
    margin: 0 1rem 0 0;
    color: var(--mnu-icon);
}

.menu li.logout,
.menu li.logout i {
    color: var(--primary);
}

.menu li.sep {
    border-bottom: 1px solid var(--white-5);
}

.menu .mnu-close {
    transition: .6s .4s;
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: var(--primary);
    z-index: 3100;
    transform: rotate(180deg);
}

/* -------------- ON -------------- */
.menu.on {
    transition: 0 2s;
    opacity: 1;
    z-index: 3000;
}

.menu.on .mnu-content::after {
    transition: .2s .3s;
    margin-top: -20px;
}

.menu.on .mnu-content {
    bottom: 70px;
    opacity: 1;
    z-index: 3001;
    transform: none;
}

.menu li.active,
.menu li.active i {
    color: var(--white-5);
}

.menu.on .mnu-close {
    transform: none;
    cursor: pointer;
}

/* -------------- SYSTEM -------------- */

.menu .mnu-system-itens {
    background: var(--white-4);
    border-radius: 8px;
}

/* -------------- BARs --------------- */
#bottombar,
#topbar,
#topbar-info {
    transition: .1s;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    z-index: 3000;
    background: var(--white-5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottombar {
    bottom: -100px;
    opacity: 0;
    border-top: 1px solid var(--white-7);
    height: 50px !important;
    background: rgba(255, 255, 255, .9);
}

#topbar {
    position: absolute;
    top: -100px;
    height: 2.5rem;
    background: var(--primary);
    z-index: 3010;
    opacity: 0;
}

#bottombar ul,
#topbar ul,
#topbar-info ul {
    list-style: none;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    margin: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottombar ul {
    border-top: 1px solid var(--white-4);
}

#bottombar li,
#topbar li,
#topbar-info li {
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--black);
    cursor: pointer;
}

#topbar li,
#topbar-info li {
    flex-direction: row;
}

#bottombar li {
    height: 50px !important;
}

#bottombar li i {
    color: var(--white-9);
}

#bottombar li label {
    display: block;
    font-size: 11px;
    margin: 0;
    padding: 0;
    color: var(--blue-dark);
}

/* -------  ON ------------- */
#topbar.on {
    top: 0;
    opacity: 1;
}

#bottombar.on {
    bottom: 0;
    opacity: 1;
}

/* #bottombar li.on,  */
#bottombar li.on i {
    color: var(--secondary);
}

#bottombar li.on {
    border-top: 1px solid var(--secondary);
}

#bottombar li.off i,
#bottombar li.off label {
    color: var(--white-6);
}

/* ---------------------------- */

#topbar #tpb-avatar {
    display: none;
    width: 32px;
    margin: 0 .5rem;
}

#topbar #tpb-avatar.on {
    display: block;
}

#topbar #tpb-avatar img {
    border-radius: var(--radius-5);
    width: 32px;
    height: 32px;
    /* border: 1px solid var(--white-5) */
}

#topbar #tpb-title {
    color: var(--white);
    font-size: 1.2rem;
    padding: 0 0 0 .5rem;
    margin: 0 0 .1rem 0;
    width: 100%;
    justify-content: center;
}

#topbar #tpb-title.left {
    justify-content: start;
}

#topbar.user #tpb-avatar {
    display: block;
}

#topbar.user #tpb-title {
    justify-content: start;
}

#topbar-info {
    transition: .2s;
    background: var(--white-4);
    position: fixed;
    top: -2.5rem;
    z-index: 3000;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

#topbar-info.on {
    top: 2.5rem;
}

#topbar-info ul {
    background: var(--white-4);
}

#topbar-info i {
    font-size: 1.25rem;
}

#bottombar li i {
    font-size: 1.5rem;
}

#topbar-info #tpb-star {
    display: flex;
    flex-direction: row;
    color: var(--orange);
}

#topbar-info li span {
    font-size: .8rem;
    padding: 0 .5rem;
}

@media screen and (min-width: 406px) {
    .menu .mnu-content {
        left: calc((100vw - 390px) - (100vw/30));
    }
}

@media screen and (min-width: 600px) {
    .menu .mnu-content {
        left: calc(100vw/2 - 120px);
    }
}
