/*
    PAGE -------------------------------------------
*/


.page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transform-style: preserve-3d;
    backface-visibility: visible;
    perspective: 1000px;
    /* transition: 0.4s cubic-bezier(1, -0.33, 0.02, 0.16); */
    transition: 0.4s ease-in-out;
    /* box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.8); */
    opacity: 0;
    z-index: 0;
    background: var(--bg);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 3rem 0 4rem 0;
    overflow-y: auto;
    overflow-x: hidden;
    /* Must be 'scroll' not 'auto' */
    -webkit-overflow-scrolling: touch;
    -webkit-user-drag: none;
    /* max-width: 320px; */
    margin: auto;
}

.page.on {
    opacity: 1;
    transform: none !important;
    z-index: 100;
}

.page .container {
    width: calc(100vw - 2rem);
    min-width: 200px;
    max-width: 600px;
    margin: 0 auto;
}

.page.up {
    /* transform: translateY(-600px) scale(0.9); */
    transform: translateY(-300px) rotateX(-90deg);
    /* transition-duration: 0.4s; */
}

.page.down {
    /* 	transform: translateY(600px) scale(0.9);
	transition-duration: 0.4s; */
    transform: translateY(300px) rotateX(90deg);
}

.page.left {
    /* 	transform: translateX(-600px) scale(0.9); */
    transform: translateX(-20px) rotateY(-90deg);
    transform-origin: left;
}

.page.right {
    /* 	transform: translateX(600px) scale(0.9); */

    transform: translateX(20px) rotateY(90deg);
    transform-origin: right;
}