.w5_toast {
    position: fixed;
    z-index: 10000;
    left: 50%;
    right: 0;
    top: 0;
    margin: 0 0 0 -140px;
    width: 280px;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.w5_toast div {
    margin: auto;
    display: block;
    padding: 15px 20px;
    opacity: 0;
    transition: 0.2s;
    transform: rotate(45deg);
    transform-origin: right;
    background: var(--black);
    color: var(--white);
    text-align: center;
    width: 100%;
    /* max-width: 80vh; */
    cursor: pointer;
    font-size: 1rem !important;
    font-weight: initial !important;
    box-shadow: var(--elevation-6);
}

.w5_toast div.active {
    opacity: 1;
    margin-top: 6px;
    transform: none;
}

.info {
    background-color: var(--blue-light) !important;
}

.alert {
    background-color: var(--red-light) !important;
}

.warn {
    background-color: var(--yellow) !important;
    color: var(--black) !important;
}

.w5_glass {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.w5_glass ul {
    max-height: 70vh;
    overflow-y: auto;
    text-align: center;
    padding-inline-start: 0;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
}

.w5_glass li {
    padding: 1rem;
    margin: 0;
    width: fit-content;
    max-width: 40vh;
    color: var(--white);
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.w5_glass li div {
    border: 2px solid var(--white);
    width: 1rem;
    margin: 1rem;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}